config.py
db_operation/__pycache__/fetch_operation.cpython-310.pyc
navigation/fetch_screen/__pycache__/fetch_game_info_by_title_screen.cpython-310.pyc
navigation/fetch_screen/__pycache__/fetch_main_screen.cpython-310.pyc
db_operation/__pycache__/fetch_operation.cpython-311.pyc
navigation/admin_screen/__pycache__/admin_screen.cpython-311.pyc
navigation/admin_screen/__pycache__/delete_review_screen.cpython-311.pyc
navigation/delete_screen/__pycache__/delete_screen.cpython-311.pyc
navigation/fetch_screen/__pycache__/fetch_game_info_by_title_screen.cpython-311.pyc
navigation/fetch_screen/__pycache__/fetch_game_within_budget_screen.cpython-311.pyc
navigation/fetch_screen/__pycache__/fetch_main_screen.cpython-311.pyc
navigation/fetch_screen/__pycache__/fetch_top_selling_game_screen.cpython-311.pyc
navigation/insert_screen/__pycache__/insert_screen.cpython-311.pyc
navigation/update_screen/__pycache__/update_screen.cpython-311.pyc
type/__pycache__/error_return_type.cpython-311.pyc
__pycache__/config.cpython-311.pyc
navigation/fetch_screen/__pycache__/fetch_popular_among_streamer_screen.cpython-311.pyc
navigation/fetch_screen/__pycache__/fetch_top_reviewed_games_screen.cpython-311.pyc
navigation/insert_screen/__pycache__/insert_streamer_data.cpython-311.pyc
db_operation/__pycache__/insert_operation.cpython-311.pyc
navigation/insert_screen/__pycache__/insert_streamer_platform.cpython-311.pyc
*.pyc